@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Palanquin", sans-serif;
}

button {
  font-family: "Palanquin", sans-serif;
}
